.roomnav{
    color: "navy";
    font-size:"100px";
    /* margin-top: 50%;
    margin-left: 50%;
    position: fixed;
    transform: translate(50%, 50%); */
}

.Card21{
    padding: -100px;
}